---
title: SunConnector
browser_title: SunConnector
layout: splash
classes:
  - landing
header:
  overlay_image: /assets/images/header_bg.png
  overlay_filter1: "0.0"
  overlay_filter2: "0.7"
  overlay_perc: "42" 
excerpt: | 
    Thank you for visiting

intro:
  - title: Hi!
  - excerpt: | 
     I am big fan of data and want to share my idea with you

feature_row:
  - image_path: assets/images/skill.png
    alt: "About me"
    title: "About Me"
    excerpt: "I live in korea and love data analysis"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--danger"
  - image_path: /assets/images/portfolio1.png
    alt: "Me"
    title: "Me"
    excerpt: "about me"
    url: "/categories/"
    btn_label: "Read More"
    btn_class: "btn--danger"
  - image_path: /assets/images/portfolio2.png
    title: "Blog"
    excerpt: "My Contents"
    url: "/blog"
    btn_label: "Read More"
    btn_class: "btn--danger"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
