/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$text-color: #000 !default;
$primary-color: #ff0000 !default;
$link-color: #0000ff !default;
