/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$text-color: #000 !default;
$primary-color: #ff0000 !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}
